.App {
  height: 100vh;
  background: #eacda3;
  background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);
  background: linear-gradient(to right, #d6ae7b, #eacda3);
  padding-left: 10px;
  overflow-y: scroll;
}
