@import url("./styles/map.css");
@import url("./styles/_base.css");
@import url("./styles/_colors.css");
@import url("./styles/main.css");
@import url("./styles/submitform.css");
@import url("./styles/home.css");

.App {
  height: 100vh;
  width: 100vw;
  background: #eacda3;
  background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);
  background: linear-gradient(to right, #d6ae7b, #eacda3);
}
