@font-face {
  font-family: "HammersmithOne";
  src: local("HammersmithOne"),
    url("./assets/Font/HammersmithOne-Regular.ttf") format("truetype");
}

*,
::before,
::after {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}
