.Home__Section__info__wrapper {
  display: grid;
  grid-template-columns: 15% 35% 35%;
  margin: 60px 10px 0px 10px;
  border: var(--color-purple) solid 2px;
  gap: 20px;
  background-color: var(--color-turqouise);
  padding: 10px;
  box-shadow: 0px 2px 8px var(--color-black);
}

.Home__Section__info__wrapper li {
  color: var(--color-purple);
  padding: 10px;
  font-size: 0.8rem;
  list-style-type: none;
}

.Home__section__intro {
  margin-left: 30px;
  margin-top: 10px;
}
.Home__section__banner {
  display: flex;
  height: 75vh;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: left;
}

.Home__banner-wrapper {
  margin-left: 30px;
  margin-bottom: 40px;
}
.Home__banner-title1 {
  color: var(--color-purple);
}
.Home__banner-title2 {
  color: var(--color-beige);
  background-color: var(--color-purple);
  width: fit-content;
  padding: 8px;
  margin: 10px 0 10px 90px;
}

.Home__banner-title3 {
  color: var(--color-purple);
  margin-left: 20px;
}

.Home__SubmitForm {
  box-shadow: 6px 4px 10px var(--color-black);
  max-width: 320px;
  margin: 10px;
  padding: 5px;
  justify-content: space-between;
}

.Home__section__intro__subline {
  font-size: 1.2rem;
  color: var(--color-purple);
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 450px) {
  .Home__SubmitForm {
    max-width: 100%;
  }
}
