.Home__section {
  display: flex;
  height: 75vh;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: left;
}

.Home__banner-wrapper {
  margin-left: 30px;
  margin-bottom: 40px;
}
.Home__banner-title1 {
  color: var(--color-purple);
}
.Home__banner-title2 {
  color: var(--color-beige);
  background-color: var(--color-purple);
  width: fit-content;
  padding: 8px;
  margin: 10px;
}

.Home__banner-title3 {
  color: var(--color-purple);
}

.Home__SubmitForm {
  box-shadow: 6px 4px 10px var(--color-black);
  max-width: 320px;
  margin: 10px;
  padding: 5px;
  justify-content: space-between;
}
