.Map__SubmitForm__toolTipp--show {
  border: var(--color-purple) 2px solid;
  border-radius: 10px;
  width: fit-content;
  background-color: var(--color-turqouise);
  right: 140px;
  top: 16px;
  text-align: center;
  color: var(--color-purple);
  padding: 5px;
}

.Map__SubmitForm__toolTipp--hide {
  display: none;
}

.Map__Mapcontainer {
  height: 68vh;
  width: 95%;
  margin-top: 20px;
  position: relative;
  left: 10px;
  border: 3px var(--color-purple) dotted;
}

.leaflet-marker-icon div {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 0.8rem;
  top: 8px;
  color: var(--color-purple);
}

.leaflet-marker-icon.marker-cluster {
  border: var(--color-purple) 2px solid;
}

.marker-cluster {
  background: var(--color-turqouise);
  border-radius: 50%;
}

.Map__Popup__childnumber {
  font-size: 1rem;
}
.Map__Popup__childcounter__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Map__Popup__child-icon {
  max-width: 40px;
  max-height: 40px;
}

/* Zoom Bar */
.leaflet-touch .leaflet-bar a {
  color: var(--color-purple);
}

.Map__useLocation__button {
  padding: 10px;
  margin: 10px;
  border: 2px var(--color-purple) solid;
  color: var(--color-purple);
  background-color: var(--color-turqouise);
  width: fit-content;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

.Map__useLocation__button:hover {
  padding: 10px;
  border: 2px var(--color-turqouise) solid;
  color: var(--color-turqouise);
  background-color: var(--color-purple);
  cursor: pointer;
}

.Map__SubmitForm button {
  padding: 10px;
  margin: 10px 10px 10px 0;
  border: 2px solid var(--color-purple);
  color: var(--color-purple);
  background-color: var(--color-turqouise);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
}

.Map__SubmitForm input {
  padding: 10px;
  margin: 10px 4px 10px 10px;
  border: 2px solid var(--color-purple);
  color: var(--color-placeholder);
  width: 100%;
}

@media only screen and (max-width: 450px) {
  .Map__SubmitForm {
    display: flex;
    justify-content: space-between;
  }
}

.Map__button--checkout {
  background-color: var(--color-unsubmit);
  color: var(--color-text);
  padding: 10px;
  margin: 15px;
  cursor: pointer;
}

.Map__button--checkin {
  background-color: var(--color-submit);
  color: white;
  padding: 5px;
  cursor: pointer;
  width: 100%;
}

.Map__button--checkin:disabled {
  background-color: var(--color-disabled-background);
  color: var(--color-disabled-text);
  padding: 5px;
}

.Toastify__progress-bar--default {
  background: linear-gradient(
    to right,
    var(--color-purple),
    var(--color-turqouise),
    var(--color-beige),
    var(--color-purple),
    var(--color-turqouise),
    var(--color-beige)
  );
}

.Map__Popup__childnumber {
  font-size: 1.8rem;
}

.Map__Popup__sharer__wrapper {
  display: flex;
}

.Map__Popup__sharer__wrapper img {
  width: 80%;
  filter: invert(48%) sepia(16%) saturate(985%) hue-rotate(225deg)
    brightness(88%) contrast(91%);
}

.Map__Popup__linebreaker {
  margin: 10px 0;
  border: 2px solid var(--color-purple);
  border-radius: 30px;
}
