.Map__Mapcontainer {
  height: 75vh;
  width: 95%;
  margin-top: 20px;
  position: relative;
  left: 10px;
  border: 3px var(--color-purple) dotted;
}

.leaflet-marker-icon div {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 1.3rem;
  top: 2px;
  color: var(--color-purple);
}

.leaflet-marker-icon.marker-cluster {
  border: var(--color-purple) 3px solid;
}

.marker-cluster {
  background: var(--color-turqouise);
  border-radius: 50%;
}

.Map__Popup__childnumber {
  font-size: 1rem;
}
.Map__Popup__childcounter__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Map__Popup__child-icon {
  max-width: 30px;
  max-height: 30px;
}

/* Zoom Bar */
.leaflet-touch .leaflet-bar a {
  color: var(--color-purple);
}

.Map__submitform__button--checkout {
  background-color: var(--color-unsubmit);
  color: var(--color-text);
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.Map__submitform__button--checkin {
  background-color: var(--color-submit);
  color: white;
  padding: 5px;
}

.Map__submitform__button--checkin:disabled {
  background-color: var(--color-disabled-background);
  color: var(--color-disabled-text);
  padding: 5px;
}

.Toastify__progress-bar--default {
  background: linear-gradient(
    to right,
    var(--color-purple),
    var(--color-turqouise),
    var(--color-beige),
    var(--color-purple),
    var(--color-turqouise),
    var(--color-beige)
  );
}
