.Header {
  display: grid;
  grid-template-columns: [logo] 60px [navigation] auto;
  padding: 20px;
}

.Header__navigation__wrapper {
  display: grid;
  grid-template-columns: [navigation] auto [x-button] 30px;
  background-color: var(--color-turqouise);
  border: 2px solid var(--color-purple);
  max-width: fit-content;
  justify-self: end;
  position: absolute;
  margin-right: 30px;
  z-index: 1000;
  transition: all 0.5s ease;
}

.Header__navigation__wrapper--off {
  display: flex;

  grid-template-columns: [navigation] auto [x-button] 30px;
  background-color: var(--color-turqouise);
  border: 2px solid var(--color-purple);
  justify-self: end;
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.Header__navigation--links {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.Header__navigation--links--off {
  display: none;
}

.Header__navigation--toggle {
  padding: 10px;
  color: var(--color-purple);
}

.Header__navigation--toggle--off {
  padding: 0px 20px;
  color: var(--color-purple);
}

.Header__navigation__link {
  padding: 10px;
  border: 2px var(--color-purple) solid;
  margin: 10px 0px;
  width: 80%;
  color: var(--color-purple);
  text-align: center;
  text-decoration: none;
}

.Header__navigation__link:hover {
  background-color: var(--color-purple);
  color: var(--color-turqouise);
}

.Header__navigation__menu__button {
  width: 20px;
  filter: invert(48%) sepia(16%) saturate(985%) hue-rotate(225deg)
    brightness(88%) contrast(91%);
}

.Header__navigation__menu__button {
  width: 20px;
  filter: invert(48%) sepia(16%) saturate(985%) hue-rotate(225deg)
    brightness(88%) contrast(91%);
}

.Header__navigation__menu__button--close {
  position: relative;
  right: 15px;
}
