.home__banner__wrapper {
  margin: 30px;
  top: 20%;
  position: absolute;
}

.home__banner__title1 {
  color: var(--purple);
}
.home__banner__title2 {
  color: var(--beige);
  background-color: var(--purple);
  width: fit-content;
  padding: 8px;
  margin: 10px;
  position: relative;
  left: 40px;
}

.home__banner__title3 {
  color: var(--purple);
}

.home__submitform {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  box-shadow: 6px 4px 10px var(--black);
  margin: 10px;
  padding: 5px;
}
