.Home__banner-wrapper {
  margin: 30px;
  top: 20%;
  position: absolute;
}

.Home__banner-title1 {
  color: var(--color-purple);
}
.Home__banner-title2 {
  color: var(--color-beige);
  background-color: var(--color-purple);
  width: fit-content;
  padding: 8px;
  margin: 10px;
  position: relative;
  left: 40px;
}

.Home__banner-title3 {
  color: var(--color-purple);
}

.Home__submitform {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  box-shadow: 6px 4px 10px var(--color-black);
  margin: 10px;
  padding: 5px;
}
