.submitform label {
  color: var(--placeholder);
}

.submitform input {
  padding: 10px;
  margin: 10px 4px 10px 10px;
  border: 2px var(--purple) solid;
  color: var(--placeholder);
}

.submitform input:focus {
  border: 2px var(--turqouise) solid;
  color: var(--purple);
}

.submitform button:hover {
  padding: 10px;
  border: 2px var(--turqouise) solid;
  color: var(--turqouise);
  background-color: var(--purple);
  cursor: pointer;
}

.submitform button:active {
  transform: translate(2px, 10%);
}

.submitform button {
  padding: 10px;
  margin: 10px 10px 10px 0px;
  border: 2px var(--purple) solid;
  color: var(--purple);
  background-color: var(--turqouise);
}
